@import '~antd/dist/antd.css';

.login{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.login-content{
    height: 300px;
    width: 400px;
    background: #fff;
    box-shadow: 2px 8px 16px 5px #cccccc;
    border-radius: 12px;
    box-sizing: border-box;
    margin:10% 18.5% auto 18.5%;
    padding: 40px 40px 24px 40px;
}
.login Button{
    width: 100%;
    background-color:#3f48cc !important;
    border:none !important;
}