.upload{
    position: relative;
    overflow: hidden;
}
.upload .app-root-container{
    display: flex;
    justify-content: center;
    margin:40px 20px 80px;
}

.upload .upload-section-container{
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
}
.upload #app{
    position: relative;
    top:0px;
}

.upload #app2 {
    position: relative;
    top: 0px;
}

.upload #app img {
    box-shadow: 2px 8px 16px 5px #cccccc;
    max-height: 500px;
    width: auto;
    height: auto;
    max-width: 100% !important;
}
.upload #app2 img {
    box-shadow: 2px 8px 16px 5px #cccccc;
    max-height: 500px;
    width: auto;
    height: auto;
    max-width: 100% !important;
}
.upload .upload-img-footer{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.upload .button{
    height: 30px;
    width: 60px;
    border-radius: 15px;
    border:none;
    background-color:#b2b8bd;
    color: white;
    font-weight: bold;
}
.upload .button-download {
    margin-right: 10px;
}