.upload{
    position: relative;
    overflow: hidden;
}
.upload .app-root-container{
    display: flex;
    justify-content: center;
    margin:40px 20px 80px;
}

.upload .upload-section-container{
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
}
.upload #app{
    position: relative;
    top:0px;
}

.upload #app2 {
    position: relative;
    top: 0px;
}

.upload #app img {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05),
    0 2px 3px 0 rgba(0, 0, 0, .1);
    max-height: 500px;
    width: auto;
    height: auto;
    max-width: 100% !important;
}
.upload #app2 img {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05),
    0 2px 3px 0 rgba(0, 0, 0, .1);
    max-height: 500px;
    width: auto;
    height: auto;
    max-width: 100% !important;
}
.upload .upload-img-footer{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
/* .upload .button{
    height: 30px;
    width: 60px;
    border-radius: 15px;
    border:none;
    background-color:#b2b8bd;
    color: white;
    font-weight: bold;
}
.upload .button-download {
    margin-right: 10px;
} */


.upload button {
    font-size: 15px !important;
    line-height: 30px;
    width: 70px;
    color: #000;
    border: none;
    background-color: #ccc;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05),
     0 2px 3px 0 rgba(0, 0, 0, .1);
}

.upload button:hover{
    border: #3f48cc solid 1px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05),
        0 2px 3px 0 rgba(0, 0, 0, .1);
    background-color: #3f48cc;
    color: #fff;
}

@media only screen and (min-width:850px) {
    .upload-img img{
        width:354px;
    }
}

@media only screen and (max-width:850px) {
    .upload-img img {
        width: 300px;
    }
}
@media only screen and (max-width:700px) {
    .upload-img img {
        width: 250px;
    }
}
@media only screen and (max-width:560px) {
    .upload-img img {
        width: 200px;
    }
}
@media only screen and (max-width:430px) {
    .upload .upload-section-container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .upload-img img {
        width:175px;
    }
}