.usercenter-page .usercenter-header{
    background: #fff;
    /* border-radius: 12px; */
    box-sizing: border-box;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05),
        0 2px 3px 0 rgba(0, 0, 0, .1);
    /* margin: 0% 5.5% auto 5.5%; */
    padding: 0px 10px 0px 40px;
    position: relative;
}

.usercenter-page .usercenter-title h1 {
    font-family: 'SourceHanSerif-2040446c601f2cf' !important;
}

.usercenter-page span {
    display: inline;
    font-size: 30px;
}

.usercenter-page button {
    font-size: 15px !important;
    border: transparent none;
    background-color: transparent;
}

.usercenter-page button:active {
    border: transparent none;
}

.usercenter-page .usercenter-title-wrap{
    display: flex;
    justify-content: space-between;
}
.usercenter-page img{
    padding: 5px;
    margin: 7px;
    width: 250px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05),
    0 2px 3px 0 rgba(0, 0, 0, .1)
}
.usercenter-page .box {
    margin-top: 20px;
}