@import '~antd/dist/antd.css';



.usercenter-page .usercenter-header{
    background: #fff;
    /* border-radius: 12px; */
    box-sizing: border-box;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05),
        0 2px 3px 0 rgba(0, 0, 0, .1);
    /* margin: 0% 5.5% auto 5.5%; */
    padding: 0px 10px 0px 40px;
    position: relative;
}

.usercenter-page .usercenter-title h1 {
    font-family: 'SourceHanSerif-2040446c601f2cf' !important;
}



.usercenter-page button {
    font-size: 15px !important;
    line-height: 30px;
    width: 70px;
    color: #000;
    border: none;
    margin-left: 13%;
    margin-top: 4%;
    background-color: #ccc;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05),
    0 2px 3px 0 rgba(0, 0, 0, .1);
}

.usercenter-page button:hover {
    border: #3f48cc solid 1px;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, .05),
        0 2px 3px 0 rgba(0, 0, 0, .1);
    background-color:#3f48cc;
    color: #fff;
}

.usercenter-page .usercenter-title-wrap{
    display: flex;
    justify-content: space-between;
}
.usercenter-page img{
    padding: 5px;
    margin: 7px;
    width: 18vw;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05),
    0 2px 3px 0 rgba(0, 0, 0, .1)
}
.usercenter-page .usercenter-history {
    position: relative;
}
.usercenter-page .box {
    margin-bottom: 80px;
}

.usercenter-page #pagination{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.usercenter-page .settings{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05),
    0 2px 3px 0 rgba(0, 0, 0, .1);
    max-width: 60%;
    margin-top: 10px;
    padding: 40px 40px 24px 40px;
}


.usercenter-page h2 {
    text-align: left;
}

.usercenter-page .form-table{
    width: 300px;
    height: 350px;
    margin-left: -40px;
    margin-top: 20px;
}

.usercenter-page input{
    border-radius: 0px;
}

@media only screen and (max-width:575px) {
    .usercenter-page img {
        padding: 5px;
        margin: 7px;
        width: 20vw;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, .05),
            0 2px 3px 0 rgba(0, 0, 0, .1)
    }
    .usercenter-page .form-table {
        width: 300px;
        height: 350px;
        padding:40px 20px 0px 20px
    }
    .usercenter-page .form-table  .ant-input-password{
        width:180px !important;
    }
}