.usercenter-page .usercenter-header{
    background: #fff;
    border-radius: 12px;
    box-sizing: border-box;
    margin: 2% 5.5% auto 5.5%;
    padding: 10px 10px 8px 40px;
    position: relative;
}

.usercenter-page .usercenter-title h1 {
    font-family: 'SourceHanSerif-2040446c601f2cf' !important;
}

.usercenter-page span {
    display: inline-block;
    font-size: 30px;
}

.usercenter-page img{
    padding: 5px;
    margin: 7px;
    width: 250px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05),
    0 2px 3px 0 rgba(0, 0, 0, .1)
}
.usercenter-page .box {
    margin-top: 20px;
}